<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <p>As directive with key value: use this the most</p>
  <h1 translate="Title">Title</h1>
  <p>As directive with key inside the tags</p>
  <h1 translate>Created_By</h1>
  <p>As a filter</p>
  <h1>{{'Location' | translate}}</h1>
  <!-- translate-value-name can be dynamic -->
  <p>With name coming dynamically</p>
  <h2 translate="Greeting" translate-value-name="Ankit"></h2>


  <p>Translating via service</p>
  <h1>{{main.translatedFromService}}</h1>

  <p><a class="btn btn-lg btn-success" ng-click="main.switchLanguage('en-US')">English<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-click="main.switchLanguage('es-US')">Spanish<span class="glyphicon glyphicon-ok"></span></a></p>

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
